*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.header {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  position: relative;
}

.header-logo {
  font-family: Raleway;
  text-decoration: none;
  font-size: 30px;
  color: #212121;
  margin-right: 15px;
}

.header-logo_accent {
  color: #2196F3;
}

.nav-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .nav-list {
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
  }
}

.nav-list_item:not(:last-child) {
  margin-right: 50px;
}

.nav-list-link_current {
  color: #2196F3;
  position: relative;
}
.nav-list-link_current::after {
  content: "";
  position: absolute;
  top: 46px;
  left: 0;
  width: 100%;
  height: 4px;
  color: #212121;
  background: #2196F3;
  border-radius: 2px;
}

.header-inform {
  margin-left: auto;
  font-size: 16px;
  display: none;
}
@media screen and (min-width: 768px) {
  .header-inform {
    display: block;
    margin-left: auto;
    font-size: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .header-inform {
    display: flex;
  }
}

.header-inform_link {
  color: #757575;
}
.header-inform_link:hover {
  color: #2196F3;
  fill: #2196F3;
  transition-property: fill color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-inform_item:not(:last-child) {
  margin-right: 50px;
}

.header-inform_link-icon {
  width: 20px;
  height: 15px;
}
@media screen and (min-width: 768px) {
  .header-inform_link-icon {
    width: 15px;
    height: 10px;
  }
}

.site-nav-link {
  color: #212121;
}
.site-nav-link:hover {
  color: #2196F3;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.main-section {
  width: 100%;
  height: 400px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .main-section {
    min-width: 768px;
    height: 400px;
  }
}
@media screen and (min-width: 1200px) {
  .main-section {
    width: 1600px;
    height: 600px;
  }
}

.main-section_content {
  padding-top: 115px;
  padding-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .main-section_content {
    padding-top: 200px;
    padding-bottom: 20px;
  }
}

.main-section_tittle {
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 900;
  letter-spacing: 0.06em;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .main-section_tittle {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color: #fff;
    margin-top: 0px;
    margin-bottom: 30px;
  }
}

.body {
  color: #212121;
  font-family: Roboto, sans-serif;
  background-color: #ffffff;
  font-weight: 400;
  line-height: 1.71;
  font-size: 14px;
  font-style: normal;
  letter-spacing: 0.03em;
}

.section-features {
  margin-bottom: 60px;
}

.features-list {
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
}

.features-list_item {
  width: 100%;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .features-list_item {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .features-list_item {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.features-list_box {
  width: 100%;
  height: 120px;
  background-color: #F5F4FA;
  text-align: center;
  padding-top: 25px;
}

.features-list_icon {
  display: inline-block;
  width: 70px;
  height: 70px;
}

.features-list_title {
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #212121;
  padding-left: 15px;
  padding-top: 30px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .features-list_title {
    text-align: left;
  }
}
.features-list_title:not(:last-child) {
  padding-left: 0;
}

.features-list_subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #757575;
  padding-top: 10px;
}

.section-product {
  margin-top: 90px;
  padding-bottom: 90px;
  display: none;
}
@media screen and (min-width: 1200px) {
  .section-product {
    display: block;
  }
}

.section-product_title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: #212121;
  padding-bottom: 30px;
}

.product-list {
  display: flex;
  justify-content: space-between;
}

.product-thumb {
  position: relative;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.product-thumb-descript {
  width: 100%;
  position: absolute;
  bottom: 0px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  border: 1px solid #212121;
}

.team-set {
  padding-bottom: 90px;
}
@media screen and (min-width: 768px) {
  .team-set {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
}

.team {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .team {
    flex-basis: calc(50% - 30px);
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.section-team {
  background-color: #F5F4FA;
}

.team-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-right: 10px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-link:hover {
  background-color: #2196F3;
}

.team-icon-link {
  fill: #AFB1B8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-link:hover .team-icon-link {
  fill: #ffffff;
}

.team-tumb {
  padding: 10px 0;
  text-align: center;
  background-color: #ffffff;
  justify-content: space-between;
}

.team-flex {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
}

.section-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: #212121;
  padding-top: 60px;
  padding-bottom: 30px;
}

.section-roll {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.section-indent {
  color: #757575;
  font-size: 16px;
  line-height: 1.18;
  padding-top: 10px;
}

.clients {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0.03em;
  padding-top: 90px;
  padding-bottom: 50px;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}
@media screen and (min-width: 1200px) {
  .clients-list {
    margin-bottom: 90px;
  }
}

.clients-list_item {
  border: 1px solid #AFB1B8;
  border-radius: 5px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-left: 30px;
  margin-bottom: 30px;
  flex-basis: calc((100% - 60px) / 2);
}
.clients-list_item:hover {
  border-color: #2196F3;
}
@media screen and (min-width: 768px) {
  .clients-list_item {
    flex-basis: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients-list_item {
    flex-basis: calc((100% - 180px) / 6);
  }
}

.client-list_link {
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 0px;
}

.client-list_icon {
  fill: #AFB1B8;
  align-items: center;
  display: flex;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list_item:hover .client-list_icon {
  fill: #2196F3;
}

.footer {
  background-color: #2F303A;
  padding-top: 20px;
  padding-bottom: 70px;
}

.footer-container {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  display: block;
}
@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
  }
}

.footer-boxing {
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .footer-boxing {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .footer-boxing-studio {
    text-align: center;
    margin-left: 75px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-boxing-studio {
    text-align: left;
    margin-left: 0;
  }
}

.footer-logo {
  color: #EEEEEE;
  font-size: 30px;
  margin-top: 0px;
  margin-bottom: 20px;
  padding-top: 60px;
}

.footer-adress {
  color: #ffffff;
  font-style: normal;
}

.footer-contact {
  color: #757575;
  font-style: normal;
}

.join-box {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .join-box {
    margin-top: 65px;
    margin-left: 165px;
    margin-right: 90px;
  }
}
@media screen and (min-width: 1200px) {
  .join-box {
    margin-top: 65px;
    margin-left: 70px;
    margin-right: 90px;
  }
}

.join-box_title {
  color: #ffffff;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.join-box_list {
  display: flex;
  justify-content: center;
}

.join-box_item:not(:last-child) {
  margin-right: 10px;
}

.join-box_link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.join-box_link:hover {
  background: #2196F3;
}

.join-box_icon {
  fill: #ffffff;
}
.join-box_link:hover .join-box_icon {
  fill: #ffffff;
}

.footer-mailing {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .footer-mailing {
    margin-top: 70px;
  }
}

.footer-mailing_text {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-mailing_label {
  margin-bottom: 5px;
  padding-top: 10px;
}

.footer-input {
  width: 100%;
  height: 50px;
  padding: 15px;
  background-color: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}
@media screen and (min-width: 768px) {
  .footer-input {
    width: 450px;
  }
}

.footer-sumbmit {
  display: flex;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  padding: 12px 28px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  align-items: center;
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .footer-sumbmit {
    margin-top: 100px;
    margin-left: 10px;
  }
}

.check-icon {
  width: 16px;
  height: 16px;
  fill: #ffffff;
}

.license .check-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 8px;
}

.license {
  display: flex;
  align-items: center;
}

.checkbox:checked + .license .check-icon-box {
  background-color: #2196F3;
  border: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.btn {
  border: 0px;
  cursor: pointer;
  border-radius: 4px;
}

.text-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  background-color: #2196F3;
  color: #ffffff;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  margin-left: 10px;
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .buttons {
    flex-wrap: nowrap;
    justify-content: center;
  }
}

.button-item {
  margin-left: 10px;
  margin-bottom: 15px;
  padding: 6px 22px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  background-color: #F5F4FA;
  color: #212121;
  transition-property: background-color color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-item:hover {
  background-color: #2196F3;
  color: #ffffff;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 580px;
  width: 525px;
  background-color: #ffffff;
}

.modal-container {
  position: relative;
}

.close {
  position: absolute;
  top: 5px;
  right: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 3px 6px;
  background-color: #ffffff;
  cursor: pointer;
}

.modal-close {
  width: 10px;
  height: 10px;
}
.close:hover .modal-close {
  fill: #2196F3;
}

/* form-modal */
.form {
  width: 450px;
  margin-left: auto;
  margin-right: auto;
}

.form-element {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-label {
  margin-bottom: 5px;
  padding-top: 10px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-input {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}
.form-input:hover, .form-input:focus {
  border-color: #2196F3;
}

.form-icon {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 14px;
  left: 15px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:hover + .form-icon, .form-input:focus + .form-icon {
  fill: #2196F3;
}

.form-box {
  position: relative;
}

.form-request {
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
  color: #212121;
}

.form-textarea {
  margin-bottom: 5px;
  padding-top: 10px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  cursor: pointer;
}

.license-text {
  line-height: 24px;
  color: #757575;
}

.license-link {
  line-height: 24px;
  text-decoration-line: underline;
  color: #2196F3;
}

.form-comment {
  resize: none;
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}
.form-comment:hover, .form-comment:focus {
  border-color: #2196F3;
}

.modal-send {
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  display: block;
  background-color: #2196F3;
  color: #ffffff;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
}

.applications {
  margin-top: 40px;
}
.applications-list {
  cursor: pointer;
  margin-right: -30px;
  margin-bottom: -30px;
  padding-bottom: 90px;
  display: block;
}
@media screen and (min-width: 768px) {
  .applications-list {
    display: flex;
    flex-wrap: wrap;
  }
}

.applications-list_item {
  margin-right: 30px;
  margin-bottom: 30px;
  justify-content: center;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.applications-list_item:hover {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
@media screen and (min-width: 768px) {
  .applications-list_item {
    flex-basis: calc(50% - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .applications-list_item {
    flex-basis: calc(33.3333333333% - 30px);
  }
}

.applications-list_item-wrapper {
  position: relative;
  overflow: hidden;
}
.applications-list_item-wrapper::before {
  display: inline-block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transition-property: opacity, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}
.applications-list_item:hover .applications-list_item-wrapper::before {
  opacity: 1;
  transform: translateY(0);
}

.applications-list_item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 63px 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.applications-list_item:hover .applications-list_item-overlay {
  opacity: 1;
}

.applications-list_item-title {
  padding-top: 20px;
  padding-left: 24px;
  text-align: start;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: #212121;
}

.applications-list_item-subtitle {
  padding-bottom: 20px;
  padding-left: 24px;
  text-align: start;
  font-size: 16px;
  line-height: 1.8;
  color: #757575;
}

.applications-list_item-descrip {
  border: 1px solid #EEEEEE;
  z-index: 1000;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}
@media screen and (min-width: 768px) {
  .menu-container {
    display: none;
  }
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  color: white;
}

.menu-toggle {
  display: flex;
  background-color: transparent;
  min-height: 20px;
  min-width: 20px;
  margin: 0;
  margin-left: auto;
  padding: 0;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  border-radius: 50%;
}
@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.mobile-thumb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.mobile-thumb-list {
  margin-left: 40px;
}

.mobile-thumb-link {
  margin-bottom: 30px;
}

.mobile-contact {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #212121;
}
.mobile-contact:hover {
  color: #2196F3;
  fill: #2196F3;
  transition-property: fill color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-contact_current {
  color: #2196F3;
}

.contact-box {
  margin-left: 40px;
}

.contact-box-list {
  margin-bottom: 30px;
}

.box-list-phone {
  font-weight: 500;
  font-size: 34px;
  line-height: 1, 17;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.mobile-mail-list {
  margin-bottom: 60px;
}

.mobile-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1, 16;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-social-link {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.mobile-social {
  font-weight: 500;
  font-size: 18px;
  line-height: 1, 2;
  letter-spacing: 0.02em;
  color: #2196F3;
}/*# sourceMappingURL=main.css.map */